# CPU Model Settings
CPU_HF_MODEL=unsloth/Qwen3.5-9B-GGUF:UD-Q4_K_XL

# GPU Model Settings
GPU_HF_MODEL=unsloth/Qwen3.5-35B-A3B-GGUF:UD-Q4_K_XL

# Llama.cpp Settings
LLAMA_CTX_SIZE=16384
LLAMA_PORT=8001

# Agent Settings
OPENAI_API_KEY=your_api_key_here